.name {
  color: darkcyan;
}

.rgb {
  color: rgb(255,125,12);
}

.hex {
  color: #328c2a ;
}

.hsl {
  color: hsl(76%, 23%, 34%)
}

.hsl {
  color: hsl(73%, 23%, 45%);
}

.rgba {
  color: rgba(65,100, 54,.4);
}

